<%- include('includes/head') %>

  <section class="container">
    <h1>
      <!-- acessando  dados declarados no homme controller  com tags do ejs-->
      <%= title %><br><br><!-- o sino de = escapa caracteres-->
        <%- title2 %><br><br> <!-- o sino de - não escapa caracteres-->

          <!-- controle de fluxo / executando js -->
          <%- typeof title3 !=='undefined' ? title3 : 'title3 no enviado' %>
            <%# Não tem title3 declarado no hommeControler, "exibira tutulio no enviado" %>

    </h1>


    <form action="/" method="post">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name">
      <button type="submit">Send</button>
    </form>
  </section>
  <section class="container">
    <h1>
      <%- title2 %><br><br>
        <h1>Foreach</h1>
    </h1>

    <% numbers.forEach( num=> { %>
      <%= num %><br>
    <% }); %>

  </section>
  <section class="container">
    <h1>
      <%- title2 %><br><br>
        For
    </h1>

    <% for(let i=0; i < numbers.length; i ++){%>
      <%= i %><br>
    <% }; %>

  </section>

  <section class="container">
    <h1>
      <%- title2 %><br><br>
        Pegando Variable do middleware
    </h1>

    <span >
      <a href="#" style="color: red; text-decoration: none; text-transform: uppercase; font-weight: bold;">
        <%= variableExample %>
      </a>
      
    </span>
    

  </section>

  <%- include('includes/footer') %>